<h2>Welcome, <%= @user.name %>!</h2><%= image_tag @user.image, size: "160x160", class: "image" %>
<p>Your Addresses:</p>
<%= @user.addresses.collect do |a| %>
	<p><%= a.to_s %>, <%= link_to 'Remove', a, method: :delete %></p>
<% end %>
<p><%= link_to "Add an address", new_address_path %></p>
